$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #87ceeb;
$background-pale: #d1c4e9;
$background-moredark: #082567;
@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: #000000;
  min-height: 150px;
}

.active {
  background: $background-moredark;
}
