<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="book">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{ book.name | uppercase }}</h3>
          </mat-card-title>
        </mat-card-header>

        <img mat-card-image src="{{book.image}}" alt="{{book.name}}">
        <mat-card-content>
          <p>{{book.description}}</p>
          <mat-card-actions>
            <button mat-button [routerLink]="['/bookdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/bookdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="book">
      <mat-list>
        <h3 matLine>Comments</h3>
        <mat-list-item *ngFor="let cmt of book.comments">
          <p matLine>{{cmt.comment}}</p>
          <p matLine>- By {{cmt.author}}</p>
          <p matLine>{{cmt.rating}} Stars</p>
          <p matLine>{{cmt.date | date}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="commentForm.valid">
          <p matLine>{{ commentForm.value.comment }}</p>
          <p matLine>{{ commentForm.value.rating }} Stars</p>
          <p matLine>-- {{ commentForm.value.author }}</p>
        </mat-list-item>
      </mat-list>

      <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="full-width">
            <input type="text" placeholder="Name" matInput formControlName="author" required>
            <mat-error *ngIf="formErrors.name">{{ formErrors.author }}</mat-error>
          </mat-form-field>
        </p>
      
        <mat-slider thumbLabel tickInterval="1" min="1" max="5" step="1" value="5" formControlName="rating"></mat-slider>
      
        <p>
          <mat-form-field class="full-width">
            <textarea placeholder="Your Comment" matInput formControlName="comment"></textarea>
            <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}</mat-error>
          </mat-form-field>
        </p>
      
        <button type="submit" mat-button class="background-primary text-floral-white"
          [disabled]="commentForm.invalid">Submit</button>
      </form>
  </div>

  <div [hidden]="book">
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait</h4>
  </div>
</div>