<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="book">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{ book.name | uppercase }}</h3>
          </mat-card-title>
        </mat-card-header>

        <img mat-card-image src="{{book.image}}" alt="{{book.name}}">
        <mat-card-content>
          <p>{{book.description}}</p>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40">
    <div>
      <mat-list *ngIf="book">
        <h3 matLine>Comments</h3>
        <mat-list-item *ngFor="let cmt of book.comments">
          <p matLine>{{cmt.comment}}</p>
          <p matLine>- By {{cmt.author}}</p>
          <p matLine>{{cmt.rating}} Stars</p>
          <p matLine>{{cmt.date | date}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</div>