<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="65">
        <h2>What We Do</h2>
        <p>Time is the most important entity for a productive person. Reading a book takes ample time. We at <em>Knowing Books</em> provide you the best short description of an entire book and its author so that you can decide whether a book is worth your time.</p>
        <h2>About the founder</h2>
        <p>Tanmay Thakur is an avid reader of books and knows that books add values to a person's career and life. He founded <em>Knowing books</em> as a personal project and soon elaborated it to provide value on a larger scale. </p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Stats At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt><b>Started</b> : 10 May, 2020</dt>
              <dt><b>Major Stake Holder</b>: Tanmay Thakur</dt>
              <dt><b>Last Year's Turnover</b>: Rs. 57,06,670</dt>
              <dt><b>Employees</b>: 374</dt>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>The trouble is that you think you have time.</h3>
        <footer>-- Gautama Buddha,
          <cite>Founder of Buddhism</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Top Authors at a glance</h2>
    <div>
      <mat-list fxFlex>
        <mat-list-item *ngFor="let author of authors">
          <img matListAvatar src={{author.image}} alt={{author.name}}>
          <h1 matLine> {{author.name}} </h1>
          <p matLine>
            <span> {{author.description}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

</div>