<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="65">
        <h2>What We Do</h2>
        <p>Time is the most important entity for a productive person. Reading a book takes ample time. We at <em>Knowing Books</em> provide you the best short description of an entire book and its author so that you can decide whether a book is worth your time.</p>
        <h2>About the founder</h2>
        <p>Tanmay Thakur is an avid reader of books and knows that books add values to a person's career and life. He founded <em>Knowing books</em> as a personal project and soon elaborated it to provide value on a larger scale.</p>
        <p>
          <em>Knowing Books</em> does not promote books/authors out of personal interests. The Featured Authors/Books are purely based on the analytics and sales. We do not intend to harm/degrade any author/individual/publication.
        </p>
      </div>
      <div fxFlex="18">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Founder and CEO</h2>
            </mat-card-title>
          </mat-card-header>
          <img src="/assets/images/founder.png" alt="Tanmay Thakur" height="80%" width="100%">
          <mat-card-content>
            <h1>Tanmay Thakur</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>We <em>spend</em> time articulating the best description so that you can <em>save</em> time.</h3>
        <footer>-- KnowingBooks Team.
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Top Authors at a glance</h2>
    <div>
      <mat-list fxFlex>
        <mat-list-item *ngFor="let author of authors">
          <img matListAvatar src={{author.image}} alt={{author.name}}>
          <h1 matLine> {{author.name}} </h1>
          <p matLine>
            <span> {{author.description}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

</div>