<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Books</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="books">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let book of books" [routerLink] = "['/bookdetail', book.id]">
        <img height="200px" src="{{ BaseURL + book.image }}" alt={{book.name}}>
        <mat-grid-tile-footer>
          <h1 matLine> {{book.name | uppercase}} </h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex [hidden]='books || errMess'>
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait</h4>
  </div>

  <div fxFlex *ngIf = "errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>