/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";
@import "../node_modules/font-awesome/scss/font-awesome";

$lt-gray: #ddd;
$background-dark: #e41c38;
$background-light: #fd5c63;
$background-pale: #e9967a;
$primary-color-dark: #00563b;
$primary-color: #008b8b;
$primary-color-light: #32de84;
$primary-color-text: #000000;
$accent-color: #800080;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 20px;
  display: flex;
}

.background-primary {
  background-color: $accent-color !important;
}
.background-accent {
  background-color: $accent-color !important;
}
.text-floral-white {
  color: floralwhite !important;
}

.flex-spacer {
  flex: 1 1 auto;
}
