<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">

  <mat-card *ngIf="book" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h1>{{book.label}}</h1>
        <h3><em>{{book.name | uppercase}}</em></h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{book.image}} alt={{book.name}} width="33%" height="500px">
    <mat-card-content>
      <h3>By {{book.author}}</h3>
      <p>{{book.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="author" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h1>Author of the week</h1>
        <h3><em>{{author.name | uppercase}} {{ author.abbr | uppercase }}</em></h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{author.image}} alt={{author.name}}>
    <mat-card-content>
      <p>{{ author.designation }}</p>
      <p>{{author.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="promotion" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h1>Promoting Today: </h1>
        <h3><em>{{promotion.name | uppercase}}</em></h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{promotion.image}} alt={{promotion.name}} width="33%" height="500px">
    <mat-card-content>
      <h3>By {{promotion.author}}</h3>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>

</div>